body {
    background-image: url(../V/assets/1ScrollModified.png);
    background-size: cover;
  }  
  
  h1 {
    text-align: center;
    margin-top: 1%;
    position: absolute;
    width: 600px;
    height: 70px;
    left: calc(50% - 298px/2 - 64px);
    top: calc(50% - 70px/2 - 314px);
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #000000;
  
  }
  
  
    .modif {
    margin-top: 2%;
    border-radius: 20px;
    font-size: 40px;
    text-align: left;
    display: block;
    padding: 10px;
    margin-left: 50%;
    margin-right: auto;
    width: 35%;
    background-color: #E9B260;
    font-family: 'Mansalva';
    font-style: normal;
    color: #000000;
    
  }
  
   .valid {
     
    position: absolute;
    width: 610px;
    height: 60px;
    left: 370px;
    top: 100%;
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
      
  }
  
  .modification {
    margin-top : 15%;
  }
  
  .sceau{
    width: 239px;
    height: 206px;
    position: absolute;
    top: 90%;
    right: 15%;
    border: 0px;
    }
  
  
  .table{
    margin-top: 13%;
    border-radius: 20px;
    /* font-size: 10px; */
    text-align: left;
    /* display: block; */
    padding: 10px;
    margin-left: 2%;
    margin-right: auto;
    width: 75%;
    background-color: transparent;
    font-family: 'Mansalva';
    font-style: normal;
    color: #000000;
  
  }
  input {
   height:35px;
  }