<h1>Création de votre compte</h1>

<p>Bonjour {{ user.firstname }} et bienvenue chez CleanThis !</p>

<p>La création de votre compte est maintenant terminé !
    <br>Vous pouvez désormais vous<a href="https://127.0.0.1:8000/login">connecter</a> à votre compte.
    <br>Merci pour votre confiance.
    <br>L'équipe de CleanThis
</p>

