{% extends 'base.html.twig' %}

{# Titre shared #}
{# {% block title %}Titre{% endblock %} #}

{% block body %}
    {# <h1>Formulaire d'inscription</h1>
    <p>Merci de bien vouloir remplir tous les champs</p>  #}
{% endblock %}
