body {
  background-image: url(../V/assets/1ScrollModified.png);
  background-size: cover;
}  

h1 {
  text-align: center;
  margin-top: 1%;

  position: absolute;
  width: 298px;
  height: 70px;
  left: calc(55% - 298px/2 - 64px);
  top: calc(50% - 70px/2 - 314px);

  font-family: 'Mansalva';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #000000;

}

.profil {
  margin-top: 3%;
  border-radius: 20px;
  font-size: 30px;
  text-align: left;
  display: block;
  padding: 10px;
  margin-left: 25%;
  margin-right: auto;
  width: 35%;
  background-color: #E9B260;
  font-family: 'Mansalva';
  font-style: normal;
  color: #000000;


}

.inscription {
   margin-top: 10%; 
   margin-left: 15%;
}

 .sengager {
    position: absolute;
    width: 264px;
    height: 60px;
    left: 433px;
    top: 150%;
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 57px;
    color: #000000;
    
}

input {
  margin-top : 115px;
}

.sceau{
width: 239px;
height: 206px;
position: absolute;
top: 130%;
right: 21%;
border: 0px;
}


@media only screen and (min-width: 1600px){
  h1 {
    text-align: center;
    margin-top: -3%;
  
    position: absolute;
    width: 298px;
    height: 70px;
    left: calc(55% - 298px/2 - 64px);
    top: calc(50% - 70px/2 - 314px);
  
    font-family: 'Mansalva';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #000000;
  
  }
}

.suggestions-container {
  width: 35%; 
  margin-left: 25%; 
  background-color: #ffffff; 
  border: 2px solid #E9B260;
  border-radius: 10px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height: 200px; 
  overflow-y: auto; 
  position: absolute; 
  z-index: 1000; 
}
.address-item {
  list-style-type: none;
  padding: 10px; 
  cursor: pointer;
  font-size: 20px; 
  color: #000000;
  transition: background-color 0.3s;

}